<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd:/spring-beans.dtd">
<beans>
<bean id="log" class="check.checkserver.action.LogAround"/>

<bean id="timeBook" class="check.checkserver.action.TimeBook"/>

<bean id="logProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
	<property name="proxyInterfaces">
		<value>check.checkserver.Interface.TimeBookInterface</value>
	</property>
	<property name="target">
		<ref bean="timeBook"/>
	</property>
	<property name="interceptorNames">
		<list>
			<value>log</value>
		</list>
	</property>
	</bean>
</beans>